main {
    display: flex;
    width: 100%;
    height: 100%;
}

ul li {
    font-family: "Open Sans", sans-serif;
}

/* stuff for aside */
aside {
    background-color: #333;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;

}
aside ul li {
    font-size: 1em;
    margin: 15px auto 0 30px;
    padding-right: 2em;
    color: lightgray;
}
path {
    fill: #fff;
}
svg {
    margin-right: 1.5em;
}
 
/* stuff for both headers */
.main-headers {
    display: flex;
    flex-direction: column;
}
.main-headers path {
    fill: gray;
}
.main-headers ul li {
    color: gray;
}
.main-headers {
    width: 100%;
    display: flex;
} 

/* stuff for first header */
header {
    background-color: snow;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    position: relative;
}
header ul {
    display: flex;
    align-items: center;
    margin-left: 2em;
}
header ul li {
    margin-right: 2em;
    display: flex;
    align-items: center;
}
.right-icons {
    position: absolute;
    right: 0;
}

/* stuff for sub header */
.sub-header {
    background-color: snow;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}
.sub-header ul {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

/* stuff for product wrapper*/
.product-wrapper {
    background-color: lightgray;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.product-box {
    width: 10em;
    height: 10em;
    border-radius: 6px;
    background-color: #8a94a3;
    margin: 1em;
}
.product-wrap-icons {
    position: absolute;
    right: 0;
    top: 1em;
}
